nav.navbar.navbar-default
  .container-fluid
    #logo.row
      a.navbar-brand(href='/')
        | Recipe Box
        img(src='../images/logo-small.png')
    ul.nav.justify-content-center
      li.nav-item
        a.nav-color(href='/') Home
      li.nav-item
        a.nav-color(href='Search') Search
      li.nav-item
        a.nav-color(href='Browse') Browse
      li.nav-item
        a.nav-color(href='AddNew') Add New
    ul.nav.navbar-nav.navbar-right
      li.nav-item
        a(href='SignUp') Sign Up
      li.nav-item
        a(href='LogIn') Log In
