nav.navbar.navbar-default
  .container-fluid
    #logo.row
      a.navbar-brand(href='/')
        | Recipe Box
        img(src='../images/logo-small.png')
    ul.nav.justify-content-center
      li.nav-item
        a.nav-color(href='/home') Home
      li.nav-item
        a.nav-color(href='About') About Us
      li.nav-item
        a.nav-color(href='Search') Search
      li.nav-item
        a.nav-color(href='Browse') Browse
      li.nav-item
        a.nav-color(href='AddNew') Add New
      li.nav-item
        a.nav-color(href='MyBox') My Box
    ul.nav.navbar-nav.navbar-right
      if name
        li.nav-item 
          a(href='/home') Hello #{name}
        li.nav-item 
          form(action='/logout?_method=DELETE' method='POST')
            button(type='submit') Log Out
      else 
        li.nav-item
          a(href='register') Register
        li.nav-item
          a(href='login') Login