include includes/head.pug
body
  include includes/nav.pug
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    .form-about-top
      h1.text-center About Us
      h4.text-center Its free to join just click the register button!
    table(style='width:100%')
      tbody
        tr
            td
              .form-about
                h2.mt-3 Save recipes from any website!
                h5.mt-3 Just copy and paste the url into the Browse box
            td 
             img(src='../images/browse-photo.png' style='max-height: 500px; max-width: 500px;')



      table(style='width:100%')
        tr
          td 
            .form-about
              img(src='../images/search-photo.png' style='max-height: 500px; max-width: 500px;')
          td 
            .form-about 
              h2.mt-3 Search for new recipes using on cite!
              h5.mt-3 Add your search topic into the search bar and press "Go!"


      table(style='width:100%')
        tr
          td 
            .form-about
              h2.mt-3 Add your own recipe! 
              h5.mt-3 Just fill out the fields and hit save.
          td 
            img(src='../images/add-photo.png' style='max-height: 500px; max-width: 500px;')
    .form-bio
      h2.mt-3 Web Developer Bio's 
    .form-bio
      h4.mt-3- Leah Moser is a career changer who used to be a chef.
      h4.mt-3 However, about 3 years ago enrolled in Portland State University to pursue a career in Computer Science 
      h4.mt-3 This web application is a wonderful mix of her old career and new one.
      h4.mt-3 Leah had always wondered how I could combine my chef past with my Computer Science future
      h4.mt-3 Then her teamate came up with this idea and she loved it!
      h4.mt-3 This allowed her to do have a moment where her old and new carreer could meet.
      h4.mt-3 "Having this web application as part of my very first web build is so amazing for 
      h4.mt-3-text-center this reason. I could never have dreamed that the two fields would ever have a common ground."
    .form-bio
      h4.mt-3 Shay Green ---- add your bio
    .form-bio
      h4.mt-3 Sam Rind ---- add your bio  
  include includes/foot.pug
