include includes/head.pug
body
  include includes/nav.pug
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    form.border.rounded.w-50.mx-auto.mt-5.p-3
      .from-group
        h1.mb-3.text-center About Page
        h3.mb-3.text-center Leah will format this and explain
        h2.mb-3.text-center Leah Moser: Add your bio
        h2.mb-3.text-center Sam Rind: Add your bio
        h2.mb-3.text-center Shay Green: Add your bio
  include includes/foot.pug 