include includes/head.pug
body
    include includes/nav.pug
    main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
        form.contrast-bg.border.rounded.w-50.mx-auto.mt-5.p-3(action='/submit' method='POST')
            h1.mt-2.mb-4 
            .form-add
                label(for='name') Title of the Recipe 
                input#name.form-control(type='text' name='name' required='')
            .form-add
                label(for='Ingredients') Ingredients
                textarea#Comments.form-control.rounded-0(name='Ingredients' rows='5')
            .form-add
                label(for='Prep') Prep
                textarea#Comments.form-control.rounded-0(name='Prep' rows='5')
            .form-add
                input#signup(type='checkbox' name='signup' checked='checked')
                label(for='signup') Bookmark my recipe 
            .form-add.mt-3.mb-0
            button.btn.btn-primary(type='save')  Save
            button.btn.btn-secondary(type='clear') Clear
        include includes/foot.pug