include includes/head.pug
body.bg-info
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    include includes/nav.pug
    img(src='../images/crazy_kitchen_error.png')
    h1.text-center Sorry, something went wrong! Don't worry it was on our end..
    h2.text-center #{message}
    include includes/foot.pug 