include includes/head.pug
body.bg-info
  include includes/nav.pug
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    form.border.rounded.w-50.mx-auto.mt-5.p-3
      .from-group
        h1.mb-3.text-center Login to your box
        h3.mb-3.text-center 
        h2.mb-3.text-center
        h2.mb-3.text-center 
        h2.mb-3.text-center 
  include includes/foot.pug 