include includes/head.pug
body.bg-info
  include includes/nav.pug
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    form.border.rounded.w-50.mx-auto.mt-5.p-3
      .from-group
        h1.mb-3.text-center Login to your Recipe Box
        label(for='login')
        input#email.form-control(type='email' placeholder='Jonny@this.com' name='email' required='')
        input#password.form-control(type='password' placeholder="Password" name='password' style = 'margin-bottom: 1px;' required='')
        .form-group.mt-3.mb-0
            button.btn.btn-primary(type='submit' value='Submit') Go!
            a(href='mybox.pug')
  include includes/foot.pug 