include includes/head.pug
include includes/nav.pug
body
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    form.border.rounded.w-50.mx-auto.mt-5.p-3
        .from-group
            h1.mt-2.mb-4 Contents of Your Recipe Box
            label(for='mybox')
            table(style='width:100%')
              tbody 
                ul#recipe
                    each item in recipe
                        tr 
                            td 
                                //-img(src=item.image, style='max-height: 100px; max-width: 100px;')
                            td #{item.name}
                            //-td Yeild: #{item.yeild}
                            
                              
          
    include includes/foot.pug 