include includes/head.pug
body.bg-info
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    include includes/nav.pug
    h1.text-center Sorry, we couldn't read the specified recipe.<br>Please try again with a different URL.
    include includes/foot.pug 