body {
  background-color: #6fb98f;
  height: 100%;
}
.navbar-brand {
  margin: 0;
  float: none;
  text-align: center;
  font-family: cursive;
  font-size: xxx-large;
}
.navbar-brand > img {
  display: inline-block;
  margin: 20px;
}
nav {
  text-align: center;
}
nav ul {
  display: inline-block;
}
.nav > li {
  display: inline-block;
}
.nav-color {
  color: #bc6049;
}
.nav-color:hover {
  text-decoration: underline;
  color: #a72c0e;
}
.nav-color:active {
  text-decoration: underline;
  color: #a72c0e;
}
.nav-color:focus {
  text-decoration: underline;
  color: #a72c0e;
}

form {
  background-color: #2c7873;
  color: #ffd56b;
  width: 75%;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 10px;
  height: 100%;
}
.browse-form-group {
  display: inline-block;
}
#Url {
  width: 400px;
}
.contrast-bg {
  background-color: #2c7873;
  color: #ffd56b;
  padding: 20px;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.recipe-img {
  width: 100%;
  object-fit: contain;
}


.home-col {
  justify-content: center;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  width: 25%;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  min-height: 400px;
}

.home-row {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.home-img {
  margin: auto;
}

.form-about {
  justify-content: center;
  margin: 50px;
  text-align: center;
  padding: 10px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.form-bio {
  justify-content: left;
  margin: 10px;
  text-align: left;
  padding: 10px;
  height: 100%;
}

.form-about-top {
  justify-content: center;
  margin: 30px;
  text-align: center;
  padding: 10px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
